<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partialsBlog.html :: head ('BlogSpace')">
    <meta charset="UTF-8">
    <title>BlogSpace</title>
</head>

<body>
<nav th:replace="partials/partialsBlog :: bootstrap-nav"></nav>
<nav th:replace="partials/partialsBlog :: bootstrap-side"></nav>
<h1>Your feed:</h1>
<ul th:each="blog : ${allBlogs}">
    <li>
        <h2 th:text="${blog.title}"></h2>
        <p th:text="${blog.body}"></p>
        <td><a th:if="${blog.user.id} == ${#authentication.principal.id}" class="btn btn-success">Update</a></td>
        <td><a th:if="${blog.user.id} == ${#authentication.principal.id}" class="btn btn-warning">DELETE</a></td>
    </li>
</ul>
<div th:replace="partials/partialsBlog.html :: bootstrap-footer"></div>


</body>
</html>