<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partialsBlog.html :: head ('Create A Post')">
    <meta charset="UTF-8">
    <title>Create A Post</title>
</head>
<body>

<fieldset class="postMiddleForm">
    <div th:replace="partials/partialsBlog :: bootstrap-jumbotron"></div>

    <form th:action="@{/blogs/new}" th:method="post" th:object="${blog}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}">
        <label for="body">Write your Post:</label>
        <input type="text" id="body" name="body" th:field="*{body}">
        <input type="submit" value="submit">
    </form>
</fieldset>




</body>
</html>