<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Signup')" >
  <meta charset="UTF-8">
  <title th:text="${title}">Sign Up</title>
</head>
<body>
<nav th:replace="partials/partialsBeforeLogin.html :: bootstrap-nav2"></nav>

<h1>Create an account</h1>
<form th:action="@{/register}" method="post" th:object="${user}">
  <label for="username">Username</label>
  <input id="username" th:field="*{username}">
  <br><br>
  <label for="email">Email</label>
  <input id="email" th:field="*{email}" required="required">
  <span id="email.errors"  class="errors">Email is required</span>
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" th:field="*{password}" required="required">
  <span id="password.errors"  class="errors">Password is required</span>

  <br><br>
  <input type="submit" value="Sign me up!">
</form>
</body>

</body>
</html>